html {
  background-color: #fff;
}

body {
  font-size: 13px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0 2.5% 1.5%;
  color: #404853;
}

header#site_header {
  padding-top: 20px;
  border-bottom: solid 10px rgb(241, 241, 241);
  padding-bottom: 20px;
}

header#site_header h1 {
  margin: 0;
  padding: 0;
}

header#site_header h1 a {
  color: #111;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.3;
  text-decoration: none;
}

header#site_header h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 0.923em;
  color: #7a7a7a;
}

header#site_header h1, header#site_header h2 {
  margin: 0 auto;
  width: 50rem;
  max-width: 50rem;
}

main {
  font-size: 16px;
  line-height: 26px;
  margin: 0 auto;
  max-width: 50em;
}

article {
  margin: 0 0 1.5em;
  border-bottom: 1px solid #ececec;
  padding: 0 0 1em;
}

article header h1, article header h1 a {
  color: inherit;
  text-decoration: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

article header time {
  margin-bottom: 10px;
}

article h1 {
  font-size: 1.5em;
}

article h2 {
  font-size: 1.35em;
}

.related_title {
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, .2);
}
